:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: gray;
}

h1 {
  
  color: black;
}